@media screen and (max-width: 768px) {
    .search-submit {
        visibility: hidden;
        display: none;
    }
}

.header {
    flex-direction: column;
    justify-content:initial;
    margin: 0;
    width: 100%;

}

#logo {
    width: 150px;
    margin: auto;
}

nav {
    width: 100%;
}

.header-liste {
    width: 100%;
    font-size: 20px;
    justify-content: space-between;
    
}

#nav-hebergement {
    border: solid #0065FC 4px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#nav-activite {
    border: solid #F2F2F2 4px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#nav-hebergement, #nav-activite {
    width: 50%;
    text-align: center;
}

#nav-hebergement:visited, #nav-activite:visited{
    color: #0065FC;
}

.title-page h1 {
    font-size: 23px;
    font-weight: 900;
    margin-left: 8%;
}

.title-page p {
    font-size: 18px;
    font-weight: 400;
    margin-left: 8%;
}

.search {   
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.search-bar form {
    justify-content: center;
}


.search-entry {
    border-right: none;
}

.search-submit-mobile {
    height: 50px;
    width: 50px;
    border-style: none;
    background-color: #0065FC;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 15px;
    position: relative;
    z-index: 20;
}



.loupe {
    background-color: #0065FC;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

.fa-magnifying-glass {
    color: white;
}

.filtre {
    display: block;
    margin-left: 0;
}

.filtres-title {
    margin-left: 8%;
}

.filtres-all {
    margin-top: 15px;
    margin-left: 8%;
}


.filtres-fond-logo {
    width: 48px;
    height: 48px;
    border-radius: 25px;
    z-index: 4;
}

.filtres-logo {
    text-align: center;
    padding-top: 16px;
    z-index: 4;
    color: #0065FC;
}

.filtres-one {
    display: flex;
    margin-left: 5px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.filtres-text {
    width: 140px;
    height: 42px;
    
    
}

.filtres-text p {
    font-size: 16px;
    padding-top: 12px;
    padding-left: 23px;
   
}

.economique {
    width: 130px;
}

.animal {
    width: 180px;
    
}

.family {
    width: 100px;
}

.info {
    justify-content: flex-start;
    margin-left: 8%;
    margin-right: 8%;
}

.info-logo {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    color: #0065FC;
}

.fa-info {
    padding-top: 5px;
    width: 30px;
    height: 30px;
    padding-left: 0;
    padding-top: 3px;
    margin-left: -2px;
}

.info-text {
    padding-left: 10px;
    font-size: 14px;
    white-space:normal;
}

.heberg-all {
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    margin: 0;
}

.heberg-marseille {
    width: 100%;
    background-color: #FFFF;
}

.heberg-title {
    margin-left: 8%;
}

.heberg-marseille-all {
    margin-top: 30px;

}

.heberg-one {
    width: 85%;
}


.heberg-desc-marge {
    padding-left: 15px;
}

.heberg-desc-marge ul {
    display: flex;
    list-style: none;
}

.stars-grey {
    color: grey;
    opacity: 30%;
}

.heberg-plus {
    margin-left: 8%;
}

.heberg-pop-all {
    margin-top: 20px;
}


.heberg-pop {
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.heberg-pop-one {
    width: 85%;
}


.heberg-pop-top {
    margin-right: 25px;
}


.heberg-pop-stars li {
    display: flex;
    margin-top: 0;
}


.activites-title {

    margin-left: 8%;  
}

.activites {
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}


.activites-col-one-top {
    height: 72%;
    width: 100%;
    overflow: hidden;
}

.activites-back {
    height: 28%;
    width: 100%;
}


.image-activites-vert {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.image-activites-horiz {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.activites-col-one{
    width: 85%;
    height: 200px;
    margin-top: 30px;
}
.activites-col-two-1,.activites-col-two-2, .activites-col-two-3, .activites-col-two-4 {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    overflow: hidden;
}

.activites-col-two {
    width: 85%;
    height: auto;
    flex-flow: column;
}

.activites-col-two-1-top, .activites-col-two-2-top, .activites-col-two-3-top, .activites-col-two-4-top {
    height: 72%;
    width: 100%;
    overflow: hidden;

}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20%;
    padding-left: 8%;
    padding-bottom: 20px;
}

.footer-title {
    margin-top: 40px;
}

.footer ul {
    list-style: none;
    margin-bottom: 0;
}

.a-propos {
    margin-left: 0;
}

.footer-box{
    width: 100%;
}